.header{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.header-btn{
    width: 45px;
    height: 45px;

    border: none;

    border-radius: 50%;

    background-color: 2f2f2f;

    color: white;

    font-size: 22px;

    cursor: pointer;
}
